$base-title-color: #eeeaec;
$base-font-color: #333;
$hover-color: #8da0b6;
$header-height: 60px;
$footer-height: 60px;
$btn-width: 100%;

@mixin max-width {
  width: 100%;
  padding: 0;
}

@mixin base-font {
  font-family: 'Heebo', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}