$base-title-color: #eeeaec;
$base-font-color: #333;
$secondary-font-color: #bfbfbf;
$hover-color: #898880;
$header-height: 60px;
$responsive-header-height: 50px;
$footer-height: 60px;
$responsive-footer-height: 50px;
$btn-width: 100%;

@mixin max-width {
  width: 100%;
  padding: 0;
}

@mixin base-font {
  font-family: 'Heebo', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}